<!--
    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Base Template
-->

<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}TITLE NEEDED{% endblock %} - CircleStories</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    </head>
    <div style="background-color: cornflowerblue; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 20px;">
        <body>
            {% block body %}
                {% block nav %}
                    <!-- Nav -->
                    <p>
                        <a href="{{ url_for('index') }}" style ="border-style: double; color: red; font-size: 16; background-color: white">Home</a>
                        {% if "username" in session %}
                        <a href="{{ url_for('logout') }}" style ="border-style: double; color: red; font-size: 16; background-color: white">Logout</a>
                        {% endif %}
                    </p>
                {% endblock %}
                {% block content %}
                    CONTENT NEEDED
                {% endblock %}
            {% endblock %}
        </body>
    </div>
</html>
