<!--
    Team Go Stop - Angela Zhang and Rayat Roy
    SoftDev PD1
    K20 -- CSS Styling
    2021-11-29
    time spent: 2 hours

    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Guest Landing Page
-->

{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>
        Welcome to CircleStories, an interactive and collaborative
        storytelling game!
    </h1>
        <br>
    <h3 style="text-align: center; font-style: italic; padding: 20px; border: cyan; border-style: ridge;">
        Log in to contribute an entry to an existing story or start your
        own!
    </h3>
        <br>
    <h2>Please <a href="{{ url_for('login') }}" style="color: blueviolet; text-decoration: none;">log in</a> or
        <a href="{{ url_for('register') }}" style="color: blueviolet; text-decoration: none;">register</a> to continue.
    </h2>
{% endblock %}
