<!--
    Team Go Stop - Angela Zhang and Rayat Roy
    SoftDev PD1
    K20 -- CSS Styling
    2021-11-29
    time spent: 2 hours

    CircleTable -- Christopher Liu, Yusuf Elsharawy, Deven Maheshwari, Naomi Naranjo
    SoftDev
    P00: CircleStories

    Registered User Homepage
-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome, {{ username }}!</h1>
    <h2>
        You are successfully logged in. Create a
        <a href="{{ url_for('new_story') }}" style="color: blueviolet; text-decoration: none; font-size: larger;">new story</a> or add to an
        existing one!
    </h2>
    <div style="display: inline-block;">
        <h2>Contribute to an Existing Story!</h2>
        {% if not_contributed_stories %}
        <ul>
            {% for story_id, story_creator, story_title in not_contributed_stories %}
            <li>
                <a href="{{ url_for('story', story_id=story_id) }}" style="color: blueviolet; text-decoration: none;">{{ story_title }}</a>
                by <b>{{ story_creator|default("Unknown User") }}</b>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p style="font-style: italic;">
            You've contributed to every story!
        </p>
    </div>
    {% endif %}
    <div style = "display: inline-block; margin-left: 100px;">
        <h2>View Stories You've Contributed To</h2>
        {% if contributed_stories %}
        <ul>
            {% for story_id, story_creator, story_title in contributed_stories %}
            <li>
                <a href="{{ url_for('story', story_id=story_id) }}" style="color: blueviolet; text-decoration: none;">{{ story_title }}</a>
                by <b>{{ story_creator|default("Unknown User") }}</b>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p style="font-style: italic;">
            You haven't contributed to any stories yet!
        </p>
    </div>
    {% endif %}
{% endblock %}
